<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.zhao.personalblog.bloggateway.mapper.CommentMapper">
  <resultMap id="BaseResultMap" type="pers.zhao.personalblog.blogdomain.domain.Comment">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="article_id" jdbcType="BIGINT" property="articleId" />
    <result column="author_id" jdbcType="INTEGER" property="authorId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from comment
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="pers.zhao.personalblog.blogdomain.domain.Comment">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into comment (content, article_id, author_id)
    values (#{content,jdbcType=VARCHAR}, #{articleId,jdbcType=BIGINT}, #{authorId,jdbcType=INTEGER}
     )
  </insert>
  <update id="updateByPrimaryKey" parameterType="pers.zhao.personalblog.blogdomain.domain.Comment">
    update comment
    set content = #{content,jdbcType=VARCHAR},
      article_id = #{articleId,jdbcType=BIGINT},
      author_id = #{authorId,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, content, article_id, author_id, create_time
    from comment
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, content, article_id, author_id, create_time
    from comment
  </select>
</mapper>